
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Warning</h1>
<p>You should never have come here. This page is <b>STRICTLY</b> prohibited</p>
<p>Leave at <b><u>ONCE</u></b></p>