
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Weclome @ViewBag.name</h2>
<p>We are trusting you with this valuable information. The secret number is ... @ViewBag.secretNumber</p>
